.container {
    display: flex;
    gap: 16px;
    padding: 16px;
    background-color: rgb(252, 252, 252);
}

.amount {
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    flex: 1;
    height: 320px;
    max-width: 300px;
    background-color: rgb(255, 255, 255);
}

.items {
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    flex: 2;
    max-width: 700px;
    overflow: hidden;
    color: black;
    background-color: rgb(255, 255, 255);
}

.cart-item {
    list-style-type: decimal;
    margin-bottom: 10px;
    /* display: flex; */
    /* gap: 90px; */
}

hr.thin {
    height: 0.1px; 
    background-color: rgba(25, 22, 22, 0.096); 
    border: none; 
  }
.gst-amt{
    display: flex;
    gap: 10px;
    padding: 0;
    margin: 0;
}

.empt-cart img{
    margin-left: 30%;
    padding-top: 17px;
}

.text{
    display: flex;
    justify-content: center; 
    margin-top: 10%;
    font-size: larger;


}
.cart-item img{
    height: 110px;
    width: 100px;
    
}
button{
    background-color: aliceblue;
    padding: 5px;
    border: none;
    border-radius: 10px;
    transition: background-color 0.6s ease;
    
}
/* .button:hover{
    background-color: rgb(121, 166, 166);
    border-radius: 16px;
  
  } */

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    .item {
        width: 100%;
    }
}
button:hover{
    background-color: rgb(121, 166, 166);
  
  }
  .headache {
    background-color: blueviolet;
    color: white;
    padding: 6px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 21px;
    transition: background-color 0.2s ease;
    width: 100%;
    height: 50px;
    font-weight: bolder;
   
}

.headache:hover {
    background-color: rgb(211, 13, 237);
    
}
.tc{
    margin-top: 55px;
}
.only-btn{
    align-items: flex-end;
    
}

  
